.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 173, 182);
  display: grid;
  place-items: center;
}

.app__todoContainer {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}

.todo__list {
  width: 100%;
}

.todo__item {
  display: flex;
}